<div *ngIf="postsViewModel$ | async as pvm" class="posts-wrapper">
  <app-filter-input
    [value]="pvm.filter"
    (valueChange)="onFilterChange($event)"
  ></app-filter-input>

  <div #scrollContainer class="scroll-container">
    <ng-container *ngIf="error$ | async as error">
      <p class="error-message">
        {{ error }}
      </p>
    </ng-container>

    <app-posts-list
      [posts]="pvm.posts"
      (postSelected)="selectPost($event)"
    ></app-posts-list>
  </div>

  <div class="pagination-container">
    <app-pagination
      [currentPage]="pvm.currentPage"
      [totalPages]="pvm.totalPages"
      (prev)="prevPage()"
      (next)="nextPage(pvm.totalPages)"
    ></app-pagination>
  </div>
</div>
